* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Open Sans";
}

/* ----- HEADER -----*/

.menu-hanburguesa{
  max-width: 40%;
  max-height: 40%;
  margin: 20px 20px 20px 20px;

}

.logo{
  max-width: 55%;
  max-height: 55%;
  margin: 20px 20px 20px 20px;
}

.input-busqueda{
  width: 350px;
  height: 30px;
  border-radius: 5px;
  margin-left: 40px;
}

header,
nav {
  background-color: rgb(39, 14, 120);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: "Open Sans";
  font-size: 25px;
  

}

nav {
  margin: 0px 0px 30px 10px
}
header {
  height: 102px;
  
  
}
.lista-nav {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}
.lista-nav li{
  justify-content: center;
  padding: 51px 10px 30px 10px ;
  
}
/* ----- HEADER -----*/


/* ----- IMAG HOGWARTS -----*/
.img-hogwarts{
  max-width: 100%;
  max-height: 100%;
}

.btn-preventa{
  background-color: #460377;
  padding: 8px 32px;
  font-size: 18px;
  color:white;
  border-radius: 4px;
  position: relative;
}

/* ----- CARRUSEL RECOMENDADOS -----*/
.carrusel-recomendados{
  display: flex;
  flex-direction: row;
  
}
.box{
  width: 281px;
  height: 340px;
  background-color: red;
  overflow: hidden;
}

.card1{
    width: 281px;
    height: 445px;
    color: white;
    
    border-radius: 10px;
    overflow: hidden;
    background-color: #270E78;
  }
  .card1 img{
    width: 281px;
    height: 340px;
  }

  .title-card{
    margin: 10px 5px 20px 10px;
  }
  
  p,span{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
  }
  span{
    font-weight: bold;
  }
  .btn-agregarCarrito{
    padding: 8px 10px;
    margin-right: 10px;
    font-size: 15px;
    color:white;
    border-radius: 4px;
    background-color: #EE2418;
  }
/* ----- 4 EN LINEA -----*/
  .content-4enLinea{
    display: flex;
    flex-direction: row;
    height: 400px;
    background-color: #EE2418;
  }

  .content-img{

  background-color: green;
  }
  .box2{
    overflow: hidden;
    height: 200px;
    border-radius: 8px;
  }
  .box2 img{
    height: 200px;
  }

  .content-texto{
    background-color: blue;
  }


/* ----- FOOTER -----*/
footer {
  background-color: rgba(17, 19, 99, 1);
  display: flex;
  flex-direction: column;
  color: white;
}

.container-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container-footer2 {
  align-self: center;
  margin-bottom: 20px;
}
