* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Open Sans";
}

/* ----- HEADER -----*/
body {
  background-color: #13063b;
}
.menu-hanburguesa {
  max-width: 40%;
  max-height: 40%;
  margin: 20px 20px 20px 20px;
}

.logo {
  max-width: 55%;
  max-height: 55%;
  margin: 20px 20px 20px 20px;
}

.input-busqueda {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  margin-left: 40px;
}

.body-lanzamiento {
  background: rgba(20, 22, 19, 0.83);
}

header,
nav {
  background-color: rgb(39, 14, 120);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: "Open Sans";
  font-size: 25px;
}

nav {
  margin: 0px 0px 30px 10px;
}
header {
  height: 102px;
}
.lista-nav {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}
.lista-nav li {
  justify-content: center;
  padding: 51px 10px 30px 10px;
}
a {
  color: white;
}

.breadcrumb {
  background-color: rgba(122, 124, 221, 1);
  color: white;
}

.breadcrumb :first-child {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

/* ----- HEADER -----*/

/*---Menu desplegable---*/
.menu-desplegable {
  display: none;
}
section {
  width: 90%;
  color: white;
  margin-left: 5%;
  margin-top: 60px;
}

section div {
  margin-top: 30px;
}

section p {
  margin-top: 10px;
}

article {
  background-color: rgba(167, 168, 232, 1);
  margin-left: 5%;
  margin-bottom: 70px;
  margin-top: 70px;
  margin-right: 5%;
}

.input-comment input {
  padding-bottom: 50px;
  font-size: large;
  width: 90%;
  margin-left: 5%;
  border-radius: 8px;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.25);
}

article button {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

article form div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 5%;
}

.foro-button {
  display: flex;
  padding-bottom: 10px;
  padding-left: 5%;
}

.foro-button button {
  background-color: lightblue;
  margin-left: 10px;
}

.comment-hecho {
  display: flex;
}
.comment-hecho p {
  font-size: larger;
}
article div p {
  justify-content: flex-start;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.box-comment {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.conteiner-comment {
  padding-bottom: 50px;
}
/*----- CONTENEDOR 4 EN LINEA -----*/
.contenedor-4enlinea {
  width: 90%;
  display: flex;
  margin-left: 5%;
  background-color: gray;
  height: 100%;
  position: relative;
  flex-direction: column;
}

.contenedor-4enlinea-1 {
  display: flex;
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.contenedor-4enlinea-1 div:first-child ul li {
  margin-top: 20px;
  width: 40px;
  height: 40px;
}
.contenedor-4enlinea-1 div:first-child {
  align-self: center;
}

.contenedor-4enlinea-1 div:first-child button {
  background: #5e5df0;
  border-radius: 999px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  touch-action: manipulation;
  width: fit-content;
  align-self: center;
}

.tablero-juego {
  margin-left: 100px;
}

.tablero-turno {
  margin-top: 10%;
  width: 28%;
  margin-right: 10%;
  background-color: #5e5df0;
  border-radius: 20px;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contenedor-4enlinea2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  margin-left: 5%;
}
/* ----- IMAG 4ENLINEA -----*/
.figure-4enlinea-portada img {
  width: 70%;
  margin-left: 15%;
  margin-top: 40px;
}
.tablero-juego img {
  width: 90%;
  height: 80%;
}

.tablero-turno img {
  height: 100px;
  width: 100px;
  align-self: center;
}
.tablero-turno p {
  color: white;
}
.contenedor-4enlinea2 img {
  width: 60%;
  height: 100%;
}
/* ----- IMAG HOGWARTS -----*/
.img-hogwarts {
  width: 1300px;
  z-index: 1;
}

.content-hogwarts {
  background-color: #2583b3;
  margin: auto;
  width: auto;
  height: 800px;
  overflow: hidden;
  justify-content: center;
}
.btn-preventa {
  background-color: #460377;
  padding: 8px 32px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  position: relative;
  z-index: 2;
  bottom: 290px;
  left: 600px;
}

/* ----- CONTENEDOR TITULO Y CONTROL -----*/
.content-titulo-controladores {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content-titulo-controladores h3 {
  color: white;
  margin: 0px 10px 0px 30px;
}

.controladores button {
  background-color: black;
  height: 3px;
  width: 30px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}
.controladores button:hover,
.controladores button.activo {
  background-color: red;
}

/* ----- CONTENEDOR PRINCIPAL Y FLECHAS -----*/

.content-carrusel-recomendado {
  margin-bottom: 70px;
}

.content-principal {
  display: flex;
  align-items: center;
  position: relative;
}

.flecha-izquierda,
.flecha-derecha {
  position: absolute;
  margin: 0px 30px 0px 47px;
  border: none;
  background: rgba(19, 6, 59, 0.3);
  height: 30%;
  top: calc(50% - 25%);
  line-height: 40px;
  color: #fff;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
}

.flecha-izquierda:hover,
.flecha-derecha:hover {
  background: rgba(0, 0, 0, 0.9);
}

.flecha-izquierda {
  left: 0;
}

.flecha-derecha {
  right: 0;
}

/* ----- CARRUSEL RECOMENDADOS -----*/

.content-carrusel-recomendado .content-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.carrusel-recomendados {
  display: flex;
}

.content-principal {
  width: 100%;
  padding: 20px 0px 20px 0px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.content-carrusel {
  display: flex;
  padding: 20px 0;
  margin: 0px 30px 0px 30px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carrusel {
  margin: 0px 20px 0px 20px;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.box {
  width: 281px;
  height: 340px;
  background-color: red;
  overflow: hidden;
}
.descuento {
  background-color: red;
  text-align: center;
  margin: 0px 0px 0px 150px;
  padding-top: 10px;
  width: 50px;
  height: 40px;
  z-index: 2;
}
.content-titulo-descuento {
  display: flex;
  flex-direction: row;
  width: 281px;
}

.card1 {
  width: 281px;
  height: 445px;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  background-color: #270e78;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.card1.hover {
  transform: scale(1.2);
  transform-origin: center;
}
.card1 img {
  width: 281px;
  height: 340px;
  z-index: 1;
}

.title-card {
  font-size: 20px;
  margin: 10px 5px 20px 10px;
}

p,
span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
span {
  font-weight: bold;
}
.btn-agregarCarrito,
.btn-jugar {
  padding: 8px 10px;
  margin-right: 10px;
  font-size: 15px;
  color: white;
  border-radius: 4px;
}

.btn-agregarCarrito {
  background-color: #ee2418;
}
.btn-jugar {
  background-color: #7a06ce;
  margin-left: 70px;
  width: 150px;
  font-size: 20px;
  border-radius: 4px;
}

/* ----- 4 EN LINEA -----*/
.content-4enLinea {
  display: flex;
  flex-direction: row;
  height: 400px;
  background-color: #270e78;
  margin: 50px 50px 50px 50px;
}

.content-img {
  padding: 50px 30px 100px 50px;
}
.box2 {
  overflow: hidden;
  height: 300px;
  border-radius: 8px;
}
.box2 img {
  height: 100%;
}

.content-texto {
  padding: 100px 30px 100px 30px;
  color: white;
}

.texto-enLinea {
  margin: 0px 0px 15px 0px;
  font-size: 30px;
}
.btn-ver-mas {
  background-color: #7a06ce;
  margin: 20px 0px 0px 0px;
  width: 150px;
  height: 35px;
  font-size: 20px;
  border-radius: 4px;
  font-family: "Open Sans";
  color: white;
}

/* ----- JUEGO LANZAMIENTO -----*/
.img-hero {
  width: auto;
}
.btn-reservar {
  z-index: 4;
  position: absolute;
  background-color: #2583b3;
  margin: 20px 0px 0px 0px;
  width: 220px;
  height: 45px;
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  right: 135px;
  bottom: -10px;
}
.span1 {
  position: absolute;
  z-index: 4;
  right: 145px;
  bottom: -23px;
  font-weight: bold;
}

.span2 {
  position: absolute;
  z-index: 4;
  font-size: 13px;
  right: 100px;
  bottom: -65px;
  color: white;
  width: 320px;
  text-align: center;
  font-weight: lighter;
}

.personaje {
  position: absolute;
  z-index: 3;
}
.titulo {
  position: absolute;
  z-index: 2;
}
.fondo {
  position: absolute;
  z-index: 1;
}

.fondo,
.personaje,
.titulo {
  width: 1000px;
}
.contenedor-imagenes {
  width: 100%;
  margin: 15px 30px 15px 40px;
  scroll-behavior: smooth;
  background-color: #ee2418;
}

.carousel {
  display: flex;
  flex-direction: row;
  width: 910px;
}
.pelicula img {
  width: 300px;
  margin: 0px 10px 0px 10px;
}
.contenedor-carrusel {
  height: 300px;
  overflow: hidden;
}

.contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px 0px 20px 0px;
  margin-bottom: 70px;
}
.historia-juego {
  color: white;
}
.historia-juego h2 {
  margin-left: 40px;
}
.parrafo-lanzamiento {
  margin: 10px 20px 0px 40px;
}

.card-juego {
  display: flex;
  flex-direction: row;
}
.mascara {
  width: 300px;
  height: 400px;
  background-color: aqua;
  border-radius: 20px;
  border: 5px solid rgb(172, 129, 21);
  overflow: hidden;
  margin: 0px 15px 0px 15px;
}
.mascara img {
  margin: auto;
  width: 120%;
}

.contenedor-informacion {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
  padding: 20px;
  background-color: black;
  color: white;
}

.columna-minimo,
.columna-recomendado,
.titulo-descripcion,
.descri {
  justify-content: flex-start;
  width: 50%;
}

.titulo-descripcion,
.descri {
  font-size: 12px;
}
.titulo-descripcion {
  margin-top: 15px;
}
.idiomas {
  width: 100%;
  color: white;
  align-self: center;
  margin-bottom: 20px;
}

/* ----- FOOTER -----*/
footer {
  background-color: rgba(17, 19, 99, 1);
  display: flex;
  flex-direction: column;
  color: white;
}

.container-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container-footer2 {
  align-self: center;
  margin-bottom: 20px;
}

footer ul li:first-child {
  font-size: 30px;
}

footer li {
  margin-top: 30px;
}
